@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* Primary */

  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);

  /* Neutral */

  --VeryDarkblue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);

  --gap: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  text-align: center;
  background: transparent;
  border: none;
  max-width: 30px;
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;

  min-height: 100vh;
  width: min(100%, 1280px);
  margin: 0 auto;

  overflow-x: hidden;
  line-height: 1.5;
}

.btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

.btn:hover {
  filter: opacity(0.6);
}

.modal__background {
  min-width: 100vw;
  min-height: 100vh;
  background: #000a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Header Start */

header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background: var(--White);
}

/* .logo {
  margin: 2rem;
} */

.principal-nav {
  gap: var(--gap);
}

.logo {
  margin: 2rem 0 2rem 4rem;
}

.principal-nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;

  position: fixed;
  inset: 0 40% 0 0;
  background: var(--White);
  flex-direction: column;
  z-index: 1000;

  padding: 6rem 2rem;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}

.principal-nav[data-visible="true"] {
  transform: translateX(0);
  font-weight: bold;
}

.nav-toggle {
  display: block;
  position: absolute;
  z-index: 9999;
  background: url("../images/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1rem;
  aspect-ratio: 1;
  left: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.nav-user {
  display: flex;
  align-items: center;
  position: relative;

  margin-left: auto;
  padding-right: 2rem;
}

.user__img {
  width: 2rem;
  height: 2rem;
}

.user__img:hover{
  outline: 2px solid var(--Orange);
  border-radius: 50%;
}

.btn--cart {
  background-image: url(../images/icon-cart.svg);
  background-size: auto;
  height: 22px;
  padding-right: 4rem;
}

.cart {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 60px;
  right: 10px;
  height: 250px;
  width: min(95vw, 350px);
  padding: 1.3rem;

  background: #fff;
  z-index: 200;
  border-radius: 0.5rem;

  transform: translateY(-150%);
  transition: transform 0.4s ease-in;

  box-shadow: 0px 10px 15px -10px var(--DarkGrayishBlue);
  -webkit-box-shadow: 0px 10px 15px -10px var(--DarkGrayishBlue);
  -moz-box-shadow: 0px 10px 15px -10px var(--DarkGrayishBlue);
}

.cart[data-visible="true"] {
  transform: translateY(0);
}

.cart__title {
  padding-bottom: 1.3rem;
  border-bottom: 2px solid var(--LightGrayishBlue);
}

.cart__container {
  height: 75%;
  overflow-y: auto;
}

.cart__card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  height: 60px;
  color: var(--DarkGrayishBlue);
}

.cart__card img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
}

.card__title {
  font-size: 16px;
}

.card__total {
  color: var(--Black);
  font-weight: 700;
}

.card__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--DarkGrayishBlue);
  font-weight: 700;
}

.btn--trash {
  background-image: url("../images/icon-delete.svg");
  background-size: 15px;
  padding: 1rem;
  margin-left: auto;
}

/* Header End */

/* Carousel Start */

.carousel {
  position: relative;
  width: 100%;
  height: 40vh;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background: #de6f2a;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-out;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  z-index: 10;
}

.carousel__button--left {
  background-image: url("../images/icon-previous.svg");
  background-size: 10px;
  left: 1rem;
}

.carousel__button--right {
  background-image: url("../images/icon-next.svg");
  background-size: 10px;
  right: 1rem;
}

.carousel__nav,
.attribution {
  display: none;
}

/* Carousel End */

/* Main Start */

.main-info {
  width: 90%;
  margin: 1rem auto 0;
}

.main__brand {
  font-size: 12px;
  color: var(--Orange);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main__title {
  font-size: clamp(1.7rem, 3vw, 2.6rem);
  margin: 0.5rem 0;
  line-height: 1.3;
}

.main__desc {
  font-size: clamp(16px, 2vw, 18px);
  color: var(--DarkGrayishBlue);
}

.main__shop {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-weight: 700;
}

.main__price {
  display: flex;

  font-size: 1.7rem;
  font-weight: bold;
  align-items: center;
  gap: 1rem;
}

.main__price--discount {
  font-size: 1rem;
  background: var(--PaleOrange);
  color: var(--Orange);
  border-radius: 0.5rem;
  padding: 2.5px 5px;
}

.main__real {
  margin-left: auto;
  color: var(--GrayishBlue);
  text-decoration: line-through;
}

.main__buy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buy__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.3;
  background: var(--LightGrayishBlue);

  height: 3rem;
  border-radius: 0.5rem;
  padding-inline: 1rem;
}

.btn--buy {
  width: auto;
  height: auto;
  padding: 1rem;
  flex-grow: 0.5;

  background-color: var(--Orange);
  border-radius: 0.5rem;
  color: var(--White);
  font-weight: 700;

  box-shadow: 0px 16px 30px 10px var(--PaleOrange);
  -webkit-box-shadow: 0px 16px 30px 10px var(--PaleOrange);
  -moz-box-shadow: 0px 16px 30px 10px var(--PaleOrange);
}

.btn--plus {
  background-image: url(../images/icon-plus.svg);
}

.btn--minus {
  background-image: url(../images/icon-minus.svg);
}

/* Main End */


.hidden {
  display: none;
}
